@* //DRASTI PATEL (#8839416)
//PROBLEM ANALYSIS #1
//FEBRUARY 16, 2025 *@

@model Person

@{
    ViewData["Title"] = "Home Page";
}

<!--
    Steps:
    - add jqueryui library
    - Add jqueryui refs (i.e. CSS & JS) in _Layout  (I kind of like the Redmond theme)
    - setup a form with a datetime input field
    - associate the jqueryui datepicker component with all input fields of type date
         + I usually goto datepicker documentation to know how to configure it
-->

<div>
    <h1 class="display-4">A form with a date field</h1>
    <form>
        <div class="form-group">
            <label asp-for="DateOfBirth">Date of Birth:</label>
            <input type="datetime" asp-for="DateOfBirth" class="form-control" />
        </div>
    </form>
</div>
